In [1]:
import pandas as pd
from IPython.display import display

DATA_DIR = "/Users/alexandermittet/Library/Mobile Documents/com~apple~CloudDocs/uni_life/UniPi DAD/data_analytics_4_health_unipi/Data"

DATASETS = {
    "heart_diagnoses_1": "heart_diagnoses_1.csv",
    "laboratory_events_codes_2": "laboratory_events_codes_2.csv",
    "microbiology_events_codes_3": "microbiology_events_codes_3.csv",
    "procedure_code_4": "procedure_code_4.csv",
}

dataframes = {
    name: pd.read_csv(f"{DATA_DIR}/{filename}")
    for name, filename in DATASETS.items()
}

In [5]:
for name, df in dataframes.items():
    print(f"===== {name} =====")
    display(df.head())

===== heart_diagnoses_1 =====

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,HPI,physical_exam,chief_complaint,...,ECG,MRI,reports,subject_id_dx,icd_code,long_title,gender,age,anchor_year,dod
0,10000980-DS-20,10000980,29654838,DS,20,2188-01-06 03:00:00,2188-01-07 23:49:00,":\n___ yo woman with h/o hypertension, hyperli...","Admission exam:\nGENERAL- Oriented x3. Mood, a...",\nShortness of breath\n \n,...,['___ 7:56:06 ___ \nBaseline artifact. Sinus...,[],Sinus bradycardia with sinus arrhythmia | Prol...,10000980,I50,Heart failure,F,75.0,2186.0,2193-08-26
1,10000980-DS-21,10000980,26913865,DS,21,2189-07-04 03:00:00,2189-07-04 22:50:00,":\nThis is a ___ M with history of diabetes, d...",ADMISSION EXAM:\nGeneral- appears comfortable...,\ndyspnea\n \n,...,[],[],Sinus bradycardia with sinus arrhythmia | Prol...,10000980,I21,Acute myocardial infarction,F,75.0,2186.0,2193-08-26
2,10002013-DS-8,10002013,24760295,DS,8,2160-07-13 03:00:00,2160-07-15 16:59:00,":\n___ w/ PMH of CAD s/p PCI x3, s/p off-pump ...",Admission:\nVS- T 99.4 BP 157/88 HR 118 RR 24 ...,\nchest pain\n \n,...,['on admission- Sinus tachycardia. Extensive S...,[],Sinus tachycardia | Extensive ST-T changes may...,10002013,I21,Acute myocardial infarction,NaN,NaN,NaN,NaN
3,10002155-DS-8,10002155,23822395,DS,8,2129-08-19 03:00:00,2129-08-20 15:29:00,:\n___ is a ___ yo female with a past medical ...,"GENERAL: WDWN in NAD. Oriented x3. Mood, affec...",\nchest pressure\n \n,...,[': new LBBB with STE in V1 -V3 & V5 that in ...,[],*** CONSIDER ACUTE ST ELEVATION MI *** | Sinus...,10002155,I21,Acute myocardial infarction,NaN,NaN,NaN,NaN
4,10004457-DS-10,10004457,28723315,DS,10,2141-08-14 03:00:00,2141-08-14 21:50:00,:\nMr. ___ is a ___ with a hx of CAD (s/p DES ...,On Admission:\nVS- 97.8 157/64 101 18 98% RA \...,"\nAbnormal Stress Test, New AI\n \n",...,['(see exercise report for details). Resting s...,[],Sinus rhythm | Normal ECG,10004457,I35,Nonrheumatic aortic valve disorders,M,66.0,2140.0,NaN

===== laboratory_events_codes_2 =====

,hadm_id,charttime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,label,fluid,examination_group,analysis_batch_id,qc_flag,ref_range
0,29654838.0,2188-01-04 23:43:00,___,198.00,IU/L,29.0,201.00,NaN,Creatine Kinase (CK),Blood,Cardiac Markers,BATCH_218801_N3,OK,NaN
1,29654838.0,2188-01-04 23:43:00,5,5.00,ng/mL,0.0,10.00,NaN,"Creatine Kinase, MB Isoenzyme",Blood,Cardiac Markers,BATCH_218801_C7,OK,NaN
2,29654838.0,2188-01-04 23:43:00,___,0.03,ng/mL,0.0,0.01,abnormal,Troponin T,Blood,Cardiac Markers,BATCH_218801_R4,OK,NaN
3,29654838.0,2188-01-05 06:56:00,1.2,1.20,NaN,0.9,1.10,abnormal,INR(PT),Blood,Coagulation and Hemostasis,BATCH_218801_K7,OK,NaN
4,29654838.0,2188-01-05 06:56:00,12.8,12.80,sec,9.4,12.50,abnormal,PT,Blood,Coagulation and Hemostasis,BATCH_218801_B1,WARN,NaN

===== microbiology_events_codes_3 =====

,subject_id,hadm_id,chartdate,charttime,spec_type_desc,test_name,org_name,ab_name,dilution_text,dilution_comparison,dilution_value,interpretation,technician_id,qc_flag
0,10000980,26913865.0,2189-06-27 00:00:00,2189-06-27 10:52:00,MRSA SCREEN,MRSA SCREEN,NaN,NaN,NaN,NaN,NaN,NaN,TECH_063,QC_OK
1,10002155,23822395.0,2129-08-04 00:00:00,2129-08-04 17:04:00,MRSA SCREEN,MRSA SCREEN,NaN,NaN,NaN,NaN,NaN,NaN,TECH_095,QC_OK
2,10002155,23822395.0,2129-08-05 00:00:00,2129-08-05 15:54:00,URINE,Legionella Urinary Antigen,NaN,NaN,NaN,NaN,NaN,NaN,TECH_083,QC_OK
3,10002155,23822395.0,2129-08-05 00:00:00,2129-08-05 18:43:00,SPUTUM,GRAM STAIN,NaN,NaN,NaN,NaN,NaN,NaN,TECH_095,QC_OK
4,10002155,23822395.0,2129-08-05 00:00:00,2129-08-05 18:43:00,SPUTUM,RESPIRATORY CULTURE,NaN,NaN,NaN,NaN,NaN,NaN,TECH_077,QC_OK

===== procedure_code_4 =====

,subject_id,hadm_id,seq_num,chartdate,icd_code,long_title
0,10000980,26913865,1,2189-07-01 03:00:00,0066,Percutaneous transluminal coronary angioplasty...
1,10000980,26913865,2,2189-07-01 03:00:00,3607,Insertion of drug-eluting coronary artery sten...
2,10000980,26913865,3,2189-07-01 03:00:00,0045,Insertion of one vascular stent
3,10000980,26913865,4,2189-07-01 03:00:00,0041,Procedure on two vessels
4,10000980,26913865,5,2189-07-01 03:00:00,3722,Left heart cardiac catheterization

In [11]:
FALSE_NA_MARKERS = {"none", "nan", "n/a", "null", "na", "n.a.", "-", ""}

for name, df in dataframes.items():
    print(f"===== {name} =====")
    obj_cols = df.select_dtypes(include="object").columns
    if not len(obj_cols):
        print("no object columns")
        continue

    for col in obj_cols:
        series = df[col].dropna()
        if series.empty:
            continue

        trimmed = series.astype(str).str.strip()
        coerced = pd.to_numeric(trimmed, errors="coerce")
        numeric_ratio = coerced.notna().mean()

        if numeric_ratio == 0:
            continue

        if numeric_ratio >= 0.5:
            print(f"column: {col} | numeric-like fraction: {numeric_ratio:.2f}")

            bad_mask = coerced.isna()
            if bad_mask.any():
                bad_tokens = trimmed[bad_mask].value_counts().head(10)
                false_na = [tok for tok in bad_tokens.index if tok.lower() in FALSE_NA_MARKERS]

                print("  problematic tokens:")
                for token, count in bad_tokens.items():
                    marker = " (false NA)" if token.lower() in FALSE_NA_MARKERS else ""
                    print(f"    {token!r}: {count}{marker}")

                if not false_na:
                    print("    none detected")
            else:
                print("  no problematic tokens")

===== heart_diagnoses_1 =====
===== laboratory_events_codes_2 =====
column: value | numeric-like fraction: 0.90
  problematic tokens:
    '___': 68645
    'ART.': 6348
    'NEG': 4234
    'MIX.': 2173
    'NONE': 2070 (false NA)
    'INTUBATED.': 1576
    'VEN.': 1476
    'NOT INTUBATED.': 686
    'CONTROLLED.': 684
    '0-2': 585
===== microbiology_events_codes_3 =====
===== procedure_code_4 =====
column: icd_code | numeric-like fraction: 0.81
  problematic tokens:
    'B211YZZ': 405
    '4A023N7': 142
    '027034Z': 139
    '4A023N6': 92
    '5A2204Z': 87
    '5A1221Z': 83
    '02HV33Z': 71
    'B2111ZZ': 63
    '02100Z9': 58
    '0BH17EZ': 42
    none detected

In [12]:
df2 = dataframes["laboratory_events_codes_2"].drop(columns=["value"], errors="ignore")
dataframes["laboratory_events_codes_2"] = df2

In [15]:
def check_id_column(series):
    as_str = series.astype(str)
    trimmed = as_str.str.strip()
    whitespace_mask = as_str != trimmed
    decimal_mask = trimmed.str.contains(r"\.0$", na=False)
    return whitespace_mask, decimal_mask, trimmed

for name, df in dataframes.items():
    print(f"===== {name} =====")
    id_cols = [col for col in df.columns if "id" in col.lower()]
    if not id_cols:
        print("no id columns")
        continue

    for col in id_cols:
        whitespace_mask, decimal_mask, trimmed = check_id_column(df[col])
        whitespace_count = whitespace_mask.sum()
        decimal_count = decimal_mask.sum()

        print(f"column: {col}")
        if whitespace_count:
            print(f"  whitespace issues: {whitespace_count}")
            print(df.loc[whitespace_mask, col].head().to_list())
        else:
            print("  no whitespace issues")

        if decimal_count:
            print(f"  decimal .0 issues: {decimal_count}")
            print(trimmed.loc[decimal_mask].head().to_list())
        else:
            print("  no decimal .0 issues")

===== heart_diagnoses_1 =====
column: note_id
  no whitespace issues
  no decimal .0 issues
column: subject_id
  no whitespace issues
  no decimal .0 issues
column: hadm_id
  no whitespace issues
  no decimal .0 issues
column: subject_id_dx
  no whitespace issues
  no decimal .0 issues
===== laboratory_events_codes_2 =====
column: hadm_id
  no whitespace issues
  no decimal .0 issues
column: fluid
  no whitespace issues
  no decimal .0 issues
column: analysis_batch_id
  no whitespace issues
  no decimal .0 issues
===== microbiology_events_codes_3 =====
column: subject_id
  no whitespace issues
  no decimal .0 issues
column: hadm_id
  no whitespace issues
  no decimal .0 issues
column: technician_id
  no whitespace issues
  no decimal .0 issues
===== procedure_code_4 =====
column: subject_id
  no whitespace issues
  no decimal .0 issues
column: hadm_id
  no whitespace issues
  no decimal .0 issues

In [14]:
df3 = dataframes["microbiology_events_codes_3"]
df3["hadm_id"] = pd.to_numeric(df3["hadm_id"], errors="coerce").astype("Int64")
dataframes["microbiology_events_codes_3"] = df3

df2 = dataframes["laboratory_events_codes_2"]
df2["hadm_id"] = pd.to_numeric(df2["hadm_id"], errors="coerce").astype("Int64")
dataframes["laboratory_events_codes_2"] = df2

In [22]:
DATETIME_KEYWORDS = ("time", "date", "timestamp", "datetime", "dod")

for name, df in dataframes.items():
    print(f"===== {name} =====")
    candidate_cols = [
        col for col in df.columns
        if df[col].dtype == "object" and any(key in col.lower() for key in DATETIME_KEYWORDS)
    ]

    if not candidate_cols:
        print("no obvious datetime columns")
        continue

    for col in candidate_cols:
        series = df[col]
        non_null = series.dropna()
        non_null_ratio = len(non_null) / len(series) if len(series) else 0
        if non_null.empty:
            print(f"column: {col} | all values missing")
            continue

        parsed = pd.to_datetime(non_null, errors="coerce", infer_datetime_format=True)
        success_ratio = parsed.notna().mean()
        print(
            f"column: {col} | parsed(non-null): {success_ratio:.2%} | availability: {non_null_ratio:.2%}"
        )
        if success_ratio < 0.9:
            sample_failed = non_null[parsed.isna()].astype(str).head(5)
            if not sample_failed.empty:
                print("  sample unparsed values:")
                for value in sample_failed:
                    print(f"    {value!r}")
        else:
            print("  parsed cleanly")

===== heart_diagnoses_1 =====
column: charttime | parsed(non-null): 100.00% | availability: 100.00%
  parsed cleanly
column: storetime | parsed(non-null): 100.00% | availability: 100.00%
  parsed cleanly
===== laboratory_events_codes_2 =====

/var/folders/t3/m1svdx911xg40b9x2vbv438m0000gn/T/ipykernel_16546/1816172863.py:22: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  parsed = pd.to_datetime(non_null, errors="coerce", infer_datetime_format=True)
/var/folders/t3/m1svdx911xg40b9x2vbv438m0000gn/T/ipykernel_16546/1816172863.py:22: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  parsed = pd.to_datetime(non_null, errors="coerce", infer_datetime_format=True)
/var/folders/t3/m1svdx911xg40b9x2vbv438m0000gn/T/ipykernel_16546/1816172863.py:22: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  parsed = pd.to_datetime(non_null, errors="coerce", infer_datetime_format=True)

column: charttime | parsed(non-null): 100.00% | availability: 100.00%
  parsed cleanly
===== microbiology_events_codes_3 =====
column: chartdate | parsed(non-null): 100.00% | availability: 100.00%
  parsed cleanly
column: charttime | parsed(non-null): 100.00% | availability: 100.00%
  parsed cleanly
===== procedure_code_4 =====
column: chartdate | parsed(non-null): 100.00% | availability: 100.00%
  parsed cleanly

/var/folders/t3/m1svdx911xg40b9x2vbv438m0000gn/T/ipykernel_16546/1816172863.py:22: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  parsed = pd.to_datetime(non_null, errors="coerce", infer_datetime_format=True)
/var/folders/t3/m1svdx911xg40b9x2vbv438m0000gn/T/ipykernel_16546/1816172863.py:22: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  parsed = pd.to_datetime(non_null, errors="coerce", infer_datetime_format=True)
/var/folders/t3/m1svdx911xg40b9x2vbv438m0000gn/T/ipykernel_16546/1816172863.py:22: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  parsed = pd.to_datetime(non_null, errors="coerce", infer_datetime_format=True)

In [23]:
df1 = dataframes["heart_diagnoses_1"]
dod_raw = df1["dod"].dropna().astype(str).str.strip()
print("non-null dod count:", dod_raw.shape[0])
print("unique sample:")
print(dod_raw.head(20).to_list())
print("length stats:")
print(dod_raw.str.len().describe())
print("most common values:")
print(dod_raw.value_counts().head(10))

non-null dod count: 398
unique sample:
['2193-08-26', '2193-08-26', '2181-01-14', '2164-06-30', '2133-11-17', '2115-10-31', '2137-06-14', '2112-08-10', '2150-05-08', '2150-05-08', '2148-03-09', '2192-09-21', '2192-09-21', '2161-11-16', '2174-08-26', '2117-05-17', '2200-01-15', '2129-02-28', '2129-02-15', '2139-05-07']
length stats:
count    398.0
mean      10.0
std        0.0
min       10.0
25%       10.0
50%       10.0
75%       10.0
max       10.0
Name: dod, dtype: float64
most common values:
dod
2176-06-22    3
2152-04-28    3
2175-09-19    3
2146-10-29    3
2193-08-26    2
2174-11-02    2
2166-10-02    2
2167-12-13    2
2118-07-25    2
2168-01-06    2
Name: count, dtype: int64

In [24]:
df1 = dataframes["heart_diagnoses_1"].copy()
df1["dod"] = pd.to_datetime(df1["dod"], format="%Y-%m-%d", errors="coerce")
dataframes["heart_diagnoses_1"] = df1

In [25]:
df1 = dataframes["heart_diagnoses_1"]
print("dod column dtype:", df1["dod"].dtype)
print("non-null count:", df1["dod"].notna().sum())
print("null count:", df1["dod"].isna().sum())
print("sample values:")
print(df1["dod"].dropna().head(10))

dod column dtype: datetime64[ns]
non-null count: 398
null count: 4466
sample values:
0     2193-08-26
1     2193-08-26
23    2181-01-14
32    2164-06-30
39    2133-11-17
124   2115-10-31
133   2137-06-14
145   2112-08-10
157   2150-05-08
158   2150-05-08
Name: dod, dtype: datetime64[ns]

#remove QC fail:

In [26]:
for name, df in dataframes.items():
    if "qc_flag" not in df.columns:
        continue

    mask_fail = df["qc_flag"].astype(str).str.upper().eq("FAIL")
    removed = mask_fail.sum()
    if removed:
        df = df.loc[~mask_fail].copy()
        dataframes[name] = df
        print(f"{name}: removed {removed} rows with qc_flag == 'FAIL'")
    else:
        print(f"{name}: no FAIL rows")

laboratory_events_codes_2: removed 19570 rows with qc_flag == 'FAIL'
microbiology_events_codes_3: no FAIL rows

## DF1

- 
-
-
-
-

In [8]:
df1 = dataframes["heart_diagnoses_1"]

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4864 entries, 0 to 4863
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   note_id          4864 non-null   object
 1   subject_id       4864 non-null   int64
 2   hadm_id          4864 non-null   int64
 3   note_type        4864 non-null   object
 4   note_seq         4864 non-null   int64
 5   charttime        4864 non-null   object
 6   storetime        4864 non-null   object
 7   HPI              4864 non-null   object
 8   physical_exam    4864 non-null   object
 9   chief_complaint  4852 non-null   object
 10  invasions        4852 non-null   object
 11  X-ray            4864 non-null   object
 12  CT               4864 non-null   object
 13  Ultrasound       4864 non-null   object
 14  CATH             4864 non-null   object
 15  ECG              4864 non-null   object
 16  MRI              4864 non-null   object
 17  reports          4864 non-null   object
 18  subject_id_dx    4864 non-null   int64
 19  icd_code         4864 non-null   object
 20  long_title       4864 non-null   object
 21  gender           1363 non-null   object
 22  age              1363 non-null   float64
 23  anchor_year      1363 non-null   float64
 24  dod              398 non-null    object
dtypes: float64(2), int64(4), object(19)
memory usage: 950.1+ KB

In [10]:
df1.head()

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,HPI,physical_exam,chief_complaint,...,ECG,MRI,reports,subject_id_dx,icd_code,long_title,gender,age,anchor_year,dod
0,10000980-DS-20,10000980,29654838,DS,20,2188-01-06 03:00:00,2188-01-07 23:49:00,":\n___ yo woman with h/o hypertension, hyperli...","Admission exam:\nGENERAL- Oriented x3. Mood, a...",\nShortness of breath\n \n,...,['___ 7:56:06 ___ \nBaseline artifact. Sinus...,[],Sinus bradycardia with sinus arrhythmia | Prol...,10000980,I50,Heart failure,F,75.0,2186.0,2193-08-26
1,10000980-DS-21,10000980,26913865,DS,21,2189-07-04 03:00:00,2189-07-04 22:50:00,":\nThis is a ___ M with history of diabetes, d...",ADMISSION EXAM:\nGeneral- appears comfortable...,\ndyspnea\n \n,...,[],[],Sinus bradycardia with sinus arrhythmia | Prol...,10000980,I21,Acute myocardial infarction,F,75.0,2186.0,2193-08-26
2,10002013-DS-8,10002013,24760295,DS,8,2160-07-13 03:00:00,2160-07-15 16:59:00,":\n___ w/ PMH of CAD s/p PCI x3, s/p off-pump ...",Admission:\nVS- T 99.4 BP 157/88 HR 118 RR 24 ...,\nchest pain\n \n,...,['on admission- Sinus tachycardia. Extensive S...,[],Sinus tachycardia | Extensive ST-T changes may...,10002013,I21,Acute myocardial infarction,NaN,NaN,NaN,NaN
3,10002155-DS-8,10002155,23822395,DS,8,2129-08-19 03:00:00,2129-08-20 15:29:00,:\n___ is a ___ yo female with a past medical ...,"GENERAL: WDWN in NAD. Oriented x3. Mood, affec...",\nchest pressure\n \n,...,[': new LBBB with STE in V1 -V3 & V5 that in ...,[],*** CONSIDER ACUTE ST ELEVATION MI *** | Sinus...,10002155,I21,Acute myocardial infarction,NaN,NaN,NaN,NaN
4,10004457-DS-10,10004457,28723315,DS,10,2141-08-14 03:00:00,2141-08-14 21:50:00,:\nMr. ___ is a ___ with a hx of CAD (s/p DES ...,On Admission:\nVS- 97.8 157/64 101 18 98% RA \...,"\nAbnormal Stress Test, New AI\n \n",...,['(see exercise report for details). Resting s...,[],Sinus rhythm | Normal ECG,10004457,I35,Nonrheumatic aortic valve disorders,M,66.0,2140.0,NaN