In [2]:
%matplotlib inline
import math
import re
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import seaborn as sns
import re

from collections import defaultdict
from scipy.stats import pearsonr
import pandas as pd
from IPython.display import display

# Load calc agg features

In [13]:
DATA_DIR = r"Y:\Studium\3. Sem UniPI\Data Analytics 4 digital Health\Data"

DATASETS = {
    "heart_diagnoses_1": "heart_diagnoses_1.csv",
    "laboratory_events_codes_2": "laboratory_events_codes_2.csv",
    "microbiology_events_codes_3": "microbiology_events_codes_3.csv",
    "procedure_code_4": "procedure_code_4.csv",
}

In [14]:
dfs = [pd.read_csv(f"{DATA_DIR}/{DATASETS[dataset].replace('.csv', '_agg_features.csv')}") for dataset in DATASETS.keys()]
len(dfs)

4

In [15]:
for df, name in zip(dfs, DATASETS.keys()):
    print(f"\nDataset: {name}")
    print("="*80)
    print(f"Shape: {df.shape}")
    print("Columns:")
    display(df.head(2))

Dataset: heart_diagnoses_1
================================================================================
Shape: (4864, 9)
Columns:

,subject_id,hadm_id,gender,is_dead,num_imaging_tests,num_unique_icd,note_time_span_hours,hpi_length,has_heartnotes
0,10000980,26913865,F,1,4,1,0.0,1058.0,1
1,10000980,29654838,F,1,3,1,0.0,770.0,1

Dataset: laboratory_events_codes_2
================================================================================
Shape: (4855, 9)
Columns:

,subject_id,hadm_id,num_labs,abnormal_ratio,qc_fail_ratio,lab_time_span_hours,unique_lab_tests,max_glucose,has_labs
0,10000980,26913865.0,166,0.379518,0.024096,140.466667,45,9.0465,1
1,10000980,29654838.0,59,0.423729,0.000000,33.433333,35,7.6590,1

Dataset: microbiology_events_codes_3
================================================================================
Shape: (2756, 7)
Columns:

,subject_id,hadm_id,has_micro,total_microbio_events,unique_specimen_types,unique_organisms,resistant_ratio
0,10000980,26913865,1,1,1,0,0.0
1,10002155,23822395,1,12,4,0,0.0

Dataset: procedure_code_4
================================================================================
Shape: (3459, 6)
Columns:

,subject_id,hadm_id,has_procedure,total_procedures,unique_icd_codes,procedure_span_days
0,10000980,26913865,1,7,7,0.0
1,10002013,24760295,1,2,2,0.0

# Merge

In [11]:
from functools import reduce

# Merge all on ['subject_id', 'hadm_id']
patient_profile = reduce(
    lambda left, right: pd.merge(left, right, on=['subject_id', 'hadm_id'], how='outer'),
    dfs
)

# Fill NaNs for missing features (if some admissions lack labs/micro/proc)
patient_profile.fillna(0, inplace=True)

KeyError: 'subject_id'

# Completeness matrix

# Analyse (DU of patient profile)

# Save to csv

df.to_csv(f"{DATA_DIR}/{DATASETS[name].replace('.csv', '_cleaned.csv')}", index=False)