Libraries imported successfully
Data path: /Users/alexandermittet/Library/Mobile Documents/com~apple~CloudDocs/uni_life/UniPi DAD/Data

Loaded Heart Diagnoses: 4,864 rows × 25 columns
Loaded Laboratory Events: 978,503 rows × 14 columns
Loaded Microbiology Events: 15,587 rows × 14 columns
Loaded Procedure Codes: 14,497 rows × 6 columns

All datasets loaded successfully!

================================================================================
Checking for problematic hadm_ids (multiple subject_ids per hadm_id)
================================================================================

Heart Diagnoses:
  Total unique hadm_ids: 4,761
  Problematic hadm_ids (multiple subject_ids): 101
  Percentage: 2.12%
  Examples:
    hadm_id 20200492: 2 subject_ids -> [19781816 19998560]
    hadm_id 20222315: 2 subject_ids -> [19032473 19998539]
    hadm_id 20343031: 2 subject_ids -> [17922874 19998599]
    hadm_id 20624985: 2 subject_ids -> [12483604 19998509]
    hadm_id 20706765: 2 subject_ids -> [12407830 19998533]

Microbiology Events:
  Total unique hadm_ids: 2,454
  Problematic hadm_ids (multiple subject_ids): 256
  Percentage: 10.43%
  Examples:
    hadm_id 20007905.0: 3 subject_ids -> [13709807 19997460 19997485]
    hadm_id 20095782.0: 2 subject_ids -> [17443221 19997450]
    hadm_id 20097155.0: 2 subject_ids -> [18048134 19997631]
    hadm_id 20113266.0: 2 subject_ids -> [13933090 19997491]
    hadm_id 20205373.0: 2 subject_ids -> [17844820 19997544]

Procedure Codes:
  Total unique hadm_ids: 3,459
  Problematic hadm_ids (multiple subject_ids): 0

Merge functions defined successfully!

Executing both merge strategies...

================================================================================
OPTION A: Merging on subject_id only
================================================================================
Base (df1): 4,392 unique subjects
df2 (Labs) after adding subject_id: 978,503 / 978,503 rows have subject_id
df2 aggregated: 4,282 unique subjects
df3 aggregated: 2,616 unique subjects
df4 aggregated: 3,229 unique subjects

Final merged dataset: 4,694 unique subjects
Shape: 4,694 rows × 35 columns

================================================================================

================================================================================
OPTION B: Merging on (subject_id, hadm_id) pair
================================================================================
Base (df1): 4,864 unique (subject_id, hadm_id) pairs
Total (hadm_id, subject_id) pairs from df1 and df3: 5,166
df2 (Labs) after adding subject_id: 1,166,572 / 1,166,572 rows have subject_id
df2 aggregated: 5,157 unique (subject_id, hadm_id) pairs
df3 aggregated: 2,756 unique (subject_id, hadm_id) pairs
df4 aggregated: 3,459 unique (subject_id, hadm_id) pairs

Final merged dataset: 5,166 unique (subject_id, hadm_id) pairs
Shape: 5,166 rows × 12 columns

================================================================================
COMPARISON SUMMARY
================================================================================
Option A (subject_id only):
  - Rows: 4,694
  - Columns: 35
  - Unique subjects: 4,694

Option B (subject_id + hadm_id):
  - Rows: 5,166
  - Columns: 12
  - Unique (subject_id, hadm_id) pairs: 5,166
  - Unique subjects: 4,694

================================================================================
Sample of Option A (first 5 rows):
================================================================================
   subject_id         note_id     hadm_id note_type  note_seq  \
0    10000980  10000980-DS-20  28284351.5        DS      20.5
1    10002013   10002013-DS-8  24760295.0        DS       8.0
2    10002155   10002155-DS-8  23822395.0        DS       8.0
3    10004457  10004457-DS-10  28723315.0        DS      10.0
4    10007058   10007058-DS-2  22954658.0        DS       2.0

             charttime            storetime  \
0  2188-01-06 03:00:00  2188-01-07 23:49:00
1  2160-07-13 03:00:00  2160-07-15 16:59:00
2  2129-08-19 03:00:00  2129-08-20 15:29:00
3  2141-08-14 03:00:00  2141-08-14 21:50:00
4  2167-11-12 03:00:00  2167-11-13 14:39:00

                                                 HPI  \
0  :\n___ yo woman with h/o hypertension, hyperli...
1  :\n___ w/ PMH of CAD s/p PCI x3, s/p off-pump ...
2  :\n___ is a ___ yo female with a past medical ...
3  :\nMr. ___ is a ___ with a hx of CAD (s/p DES ...
4  :\nMr. ___ is a healthy ___ year-old male who ...

                                       physical_exam  \
0  Admission exam:\nGENERAL- Oriented x3. Mood, a...
1  Admission:\nVS- T 99.4 BP 157/88 HR 118 RR 24 ...
2  GENERAL: WDWN in NAD. Oriented x3. Mood, affec...
3  On Admission:\nVS- 97.8 157/64 101 18 98% RA \...
4  ADMISSION PHYSICAL EXAM:\n====================...

                       chief_complaint  ... valuenum_mean valuenum_count  \
0           \nShortness of breath\n \n  ...     50.427489          223.0
1                    \nchest pain\n \n  ...     53.814800           50.0
2                \nchest pressure\n \n  ...     43.598140          387.0
3  \nAbnormal Stress Test, New AI\n \n  ...     62.915600           25.0
4                    \nChest pain\n \n  ...     98.678028          142.0

  ref_range_lower_mean ref_range_lower_count ref_range_upper_mean  \
0            30.837273                 220.0            59.046727
1            30.610000                  50.0            52.862400
2            33.267801                 382.0            55.895340
3            31.069565                  23.0            71.017391
4            27.778014                 141.0            54.845177

  ref_range_upper_count dilution_value_mean dilution_value_count  \
0                 220.0                 NaN                  0.0
1                  50.0                 NaN                  NaN
2                 382.0                 NaN                  0.0
3                  23.0                 NaN                  NaN
4                 141.0                 NaN                  0.0

   seq_num_mean seq_num_count
0           4.0           7.0
1           1.5           2.0
2           4.5           8.0
3           NaN           NaN
4           1.5           2.0

[5 rows x 35 columns]

================================================================================
Sample of Option B (first 5 rows):
================================================================================
   subject_id     hadm_id  valuenum_mean  valuenum_count  \
0    10000980  26913865.0      50.305427           164.0
1    10000980  29654838.0      50.766780            59.0
2    10002013  24760295.0      53.814800            50.0
3    10002155  23822395.0      43.598140           387.0
4    10004457  28723315.0      62.915600            25.0

   ref_range_lower_mean  ref_range_lower_count  ref_range_upper_mean  \
0             31.772393                  163.0             58.486196
1             28.163158                   57.0             60.649649
2             30.610000                   50.0             52.862400
3             33.267801                  382.0             55.895340
4             31.069565                   23.0             71.017391

   ref_range_upper_count  dilution_value_mean  dilution_value_count  \
0                  163.0                  NaN                   0.0
1                   57.0                  NaN                   NaN
2                   50.0                  NaN                   NaN
3                  382.0                  NaN                   0.0
4                   23.0                  NaN                   NaN

   seq_num_mean  seq_num_count
0           4.0            7.0
1           NaN            NaN
2           1.5            2.0
3           4.5            8.0
4           NaN            NaN

✓ Saved Option A to: /Users/alexandermittet/Library/Mobile Documents/com~apple~CloudDocs/uni_life/UniPi DAD/Data/merged_dataset_option_a_subject_id.csv
✓ Saved Option B to: /Users/alexandermittet/Library/Mobile Documents/com~apple~CloudDocs/uni_life/UniPi DAD/Data/merged_dataset_option_b_subject_hadm_id.csv